In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings
warnings.filterwarnings('ignore')

In [11]:
df=pd.read_excel("./data_airline_reviews_1.xlsx")

In [12]:
df

,airline,overall,author,review_date,customer_review,aircraft,traveller_type,cabin,route,date_flown,seat_comfort,cabin_service,food_bev,entertainment,ground_service,value_for_money,recommended
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Turkish Airlines,7.0,Christopher Hackley,8th May 2019,âœ… Trip Verified | London to Izmir via Istanb...,NaN,Business,Economy Class,London to Izmir via Istanbul,2019-05-01 00:00:00,4.0,5.0,4.0,4.0,2.0,4.0,yes
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Turkish Airlines,2.0,Adriana Pisoi,7th May 2019,âœ… Trip Verified | Istanbul to Bucharest. We ...,NaN,Family Leisure,Economy Class,Istanbul to Bucharest,2019-05-01 00:00:00,4.0,1.0,1.0,1.0,1.0,1.0,no
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,Alitalia,9.0,D Cerulli,30th June 2014,Rome to Nice and return. We took off 10 mins e...,NaN,NaN,Economy Class,NaN,NaN,4.0,5.0,3.0,NaN,NaN,5.0,yes
39996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39997,Alitalia,NaN,N Yanaky,25th June 2014,My parents and I were returning from a lovely ...,NaN,NaN,Economy Class,NaN,NaN,1.0,3.0,1.0,1.0,NaN,3.0,no
39998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39999,Alitalia,NaN,Giovanni Rossi,20th June 2014,Linate - Trieste LIN-TRS. Now this flight is h...,NaN,NaN,Economy Class,NaN,NaN,1.0,3.0,2.0,NaN,NaN,2.0,no

In [13]:
df.shape

(40000, 17)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          20000 non-null  object
 1   overall          19680 non-null  float64
 2   author           20000 non-null  object
 3   review_date      20000 non-null  object
 4   customer_review  20000 non-null  object
 5   aircraft         6283 non-null   object
 6   traveller_type   13311 non-null  object
 7   cabin            19289 non-null  object
 8   route            13301 non-null  object
 9   date_flown       13280 non-null  object
 10  seat_comfort     18857 non-null  float64
 11  cabin_service    18876 non-null  float64
 12  food_bev         16916 non-null  float64
 13  entertainment    14733 non-null  float64
 14  ground_service   13214 non-null  float64
 15  value_for_money  19429 non-null  float64
 16  recommended      19497 non-null  object
dtypes: float64(7), object(10)
memory usage: 5.2+ MB

In [17]:
df.describe().T

                   count      mean       std  min  25%  50%  75%   max
overall          19680.0  4.988211  3.512952  1.0  1.0  5.0  9.0  10.0
seat_comfort     18857.0  2.976826  1.436701  1.0  2.0  3.0  4.0   5.0
cabin_service    18876.0  3.167355  1.569719  1.0  2.0  3.0  5.0   5.0
food_bev         16916.0  2.971743  1.483867  1.0  1.0  3.0  4.0   5.0
entertainment    14733.0  3.061562  1.522952  1.0  1.0  3.0  4.0   5.0
ground_service   13214.0  2.630922  1.611870  1.0  1.0  2.0  4.0   5.0
value_for_money  19429.0  2.883216  1.582083  1.0  1.0  3.0  4.0   5.0

In [18]:
df.duplicated().sum()

np.int64(20189)

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.duplicated().sum()

np.int64(0)

In [21]:
df.shape

(19811, 17)

In [22]:
df.isnull().sum()

airline                1
overall              315
author                 1
review_date            1
customer_review        1
aircraft           13528
traveller_type      6501
cabin                707
route               6511
date_flown          6532
seat_comfort        1141
cabin_service       1123
food_bev            3080
entertainment       5256
ground_service      6598
value_for_money      569
recommended          502
dtype: int64

In [23]:
df.isnull().sum()/df.shape[0]*100

airline             0.005048
overall             1.590026
author              0.005048
review_date         0.005048
customer_review     0.005048
aircraft           68.285296
traveller_type     32.815103
cabin               3.568724
route              32.865580
date_flown         32.971581
seat_comfort        5.759427
cabin_service       5.668568
food_bev           15.546918
entertainment      26.530715
ground_service     33.304730
value_for_money     2.872142
recommended         2.533946
dtype: float64

In [24]:
def drop_null(df):
    null_percentage=df.isnull().sum()/df.shape[0]*100
    columns_to_drop=[col for col in df.columns if null_percentage[col]>25.00]
    df.drop(columns= columns_to_drop,inplace=True)
    return df

In [25]:
drop_null(df)

,airline,overall,author,review_date,customer_review,cabin,seat_comfort,cabin_service,food_bev,value_for_money,recommended
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Turkish Airlines,7.0,Christopher Hackley,8th May 2019,âœ… Trip Verified | London to Izmir via Istanb...,Economy Class,4.0,5.0,4.0,4.0,yes
3,Turkish Airlines,2.0,Adriana Pisoi,7th May 2019,âœ… Trip Verified | Istanbul to Bucharest. We ...,Economy Class,4.0,1.0,1.0,1.0,no
5,Turkish Airlines,3.0,M Galerko,7th May 2019,âœ… Trip Verified | Rome to Prishtina via Ista...,Economy Class,1.0,4.0,1.0,2.0,no
7,Turkish Airlines,10.0,Zeshan Shah,6th May 2019,âœ… Trip Verified | Flew on Turkish Airlines I...,Economy Class,4.0,5.0,5.0,5.0,yes
...,...,...,...,...,...,...,...,...,...,...,...
39991,Alitalia,7.0,T Matava,6th July 2014,AZ703 IST-FCO connecting onto AZ 630 FCO-MIA B...,NaN,NaN,NaN,NaN,NaN,NaN
39993,Alitalia,10.0,S Kesavan,30th June 2014,Flew from Rome to Lamezia Terme and back. A mo...,Economy Class,4.0,5.0,5.0,5.0,yes
39995,Alitalia,9.0,D Cerulli,30th June 2014,Rome to Nice and return. We took off 10 mins e...,Economy Class,4.0,5.0,3.0,5.0,yes
39997,Alitalia,NaN,N Yanaky,25th June 2014,My parents and I were returning from a lovely ...,Economy Class,1.0,3.0,1.0,3.0,no
39999,Alitalia,NaN,Giovanni Rossi,20th June 2014,Linate - Trieste LIN-TRS. Now this flight is h...,Economy Class,1.0,3.0,2.0,2.0,no

In [26]:
df.isnull().sum()/df.shape[0]*100

airline             0.005048
overall             1.590026
author              0.005048
review_date         0.005048
customer_review     0.005048
cabin               3.568724
seat_comfort        5.759427
cabin_service       5.668568
food_bev           15.546918
value_for_money     2.872142
recommended         2.533946
dtype: float64